<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ลงนามถวายพระพร</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container mt-5 sarabun-regular">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <img src="../images/prince_pa.png" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5>
                            <span class="badge rounded-pill text-white text-bg-primary">วิทยาลัยเทคนิคตราด
                                ลงนามถวายพระพร</span>
                        </h5>
                        <p class="card-text">
                            สมเด็จพระเจ้าลูกเธอ เจ้าฟ้าพัชรกิติยาภา นเรนทิราเทพยวดี กรมหลวงราชสาริณีพัชร มหาวัชรราชธิดา
                            เป็นพระราชธิดาพระองค์ใหญ่ในพระบาทสมเด็จพระวชิรเกล้าเจ้าอยู่หัว ประสูติแต่พระเจ้าวรวงศ์เธอ
                            พระองค์เจ้าโสมสวลี กรมหมื่นสุทธนารีนาถ ประสูติเมื่อวันพฤหัสบดี ขึ้น 8 ค่ำ เดือนอ้าย
                            ปีมะเมีย สัมฤทธิศก จ.ศ. 1340 ตรงกับวันที่ 7 ธันวาคม พ.ศ. 2521 ณ พระที่นั่งอัมพรสถาน
                            พระราชวังดุสิต
                        </p>
                        <p class="text-body font-weight-light mt-4 text-end">
                            <span class="text-decoration-underline">วิทยาลัยเทคนิคตราด</span>
                            <a href="https://www.trattc.ac.th/" target="_blank"
                                class="text-primary text-decoration-none font-weight-bolder">หน้าแรก</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header">
                        <h4>
                            <span class="badge rounded-pill text-white text-bg-primary">ลงนามถวายพระพร</span>
                        </h4>
                    </div>

                    <div class="card-body">
                        <form action="/products/add" method="post">
                            <div class="mb-3">
                                <label for="title">คำนำหน้าชื่อ:นาย/นางสาว</label>
                                <select name="title">
                                    <option value="คุณ">เลือก</option>
                                    <option value="นาย">นาย</option>
                                    <option value="นางสาว">นางสาว</option>
                                    <option value="นาง">นาง</option>
                                    <option value="คุณ">คุณ</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="">ข้าพระพุทธเจ้า</label>
                                <input type="text" name="name" class="form-control" placeholder="ชื่อ-นามสกุล"
                                    required />
                            </div>

                            <div class="mb-3">
                                <label for="">ตำแหน่ง</label>
                                <input type="text" name="position" class="form-control" placeholder="(ถ้ามี)" />
                            </div>

                            <div class="mb-3">
                                <label for="">หน่วยงาน</label>
                                <input type="text" name="department" class="form-control" placeholder="(ถ้ามี)" />
                            </div>

                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary text-white shadow">
                                    ลงนามถวายพระพร
                                </button>
                            </div>

                            <p class="text-body font-weight-light mt-4 text-center">
                                รายชื่อผู้ลงนาม
                                <a href="/products"
                                    class="text-primary text-decoration-none font-weight-bolder">ลงนามถวายพระพร</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

    .sarabun-regular {
        font-family: "Sarabun", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    body {
        /*background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-orange-web-solid-color-background.jpg");*/
        background-color: #ff7f50;
    }
</style>