<div class="container mt-4 sarabun-regular">
    <div class="row">
        <div class="col-md-4 mb-2">
            <div class="card shadow">
                <img src="https://cdn.pixabay.com/photo/2024/07/10/18/56/ai-generated-8886514_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">เว็บมาสเตอร์ (webmaster)</h5>
                    <p>
                        ชื่อ: <%= isLoggedIn.first_name %>
                        <%= isLoggedIn.last_name %>
                        <br>
                        อีเมล์: <%= isLoggedIn.email %>
                    </p>
                    <!-- <p class="card-text">คือบุคคลผู้ที่มีหน้าที่รับผิดชอบการออกแบบ การพัฒนา</p> -->
                    <p><a href="https://www.youtube.com/watch?v=NC_ASexT0wY" target="_blank" class="btn btn-primary">เว็บมาสเตอร์</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-1 mb-2">
            
        </div>
        <div class="col-md-7 mb-2">
            <div class="card shadow">
                <img src="https://cdn.pixabay.com/photo/2024/05/27/20/50/owl-8792272_960_720.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">เว็บมาสเตอร์ (webmaster)</h5>
                    <p class="card-text">เว็บมาสเตอร์ (webmaster) คือบุคคลผู้ที่มีหน้าที่รับผิดชอบการออกแบบ การพัฒนา
                        การดูแลการตลาด และการบำรุงรักษาเว็บไซต์ โดยเฉพาะบนเว็บไซต์ชุมชนออนไลน์
                        เว็บมาสเตอร์สามารถปรับเปลี่ยนหรือจัดการความคิดเห็นของผู้ใช้คนอื่นๆ ได้
                        เว็บมาสเตอร์อาจเรียกเป็นอย่างอื่นได้เช่น ผู้ดูแลเว็บไซต์ (website administrator) ผู้สร้างเว็บ
                        ผู้พัฒนาเว็บ หรือผู้ออกแบบเว็บ เป็นต้น</p>
                    <a href="https://www.youtube.com/watch?v=NC_ASexT0wY" target="_blank"
                        class="btn btn-primary">เว็บมาสเตอร์</a>
                </div>
            </div>
        </div>
    </div>
</div>